<!DOCTYPE html>
<html>
<head>
    <title>Hamza's CV </title>
    <link rel="stylesheet" href="static\css\style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:700&display=swap" rel="stylesheet">
</head>
<video autoplay muted loop class="video-bg">
      <source src="static\loginbackround\2157006-hd_1920_1080_25fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
<body class="login-bg">
    <div class="login-container">
        <img src="static\images\hamza.jpg" class="profile-pic">
        <h2>Hamza's CV</h2>
        <form method="post">
            <button type="submit">Login!</button>
        </form>
    </div>
</body>
</html>